/* Utility */

body {
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: black;
  overflow: visible;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#search {
  z-index: 1040 !important;
}

.shader {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.6));
  background-image: -o-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.6));
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.6));
}

.container {
  padding: 30px;
  color: #333;
}

.centered {
  width: 100%;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}


.homepage {
  position: relative;
  width: 100%;
  color: #333;
  height: 100vh;
  background: url('../images/gig.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about {
  text-align: left;
  height: 100vh;
  color: #333;
  width: 100%;
}


/* Typog */

h1 {
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: -3px;
  font-size: 75px;
  color: white;

}

h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 110px;
  margin: 5px;
  color: white;
}

p {
  font-weight: 300;
  text-align: justify;
  font-size: 15px;
}

h3 {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 300;
}

h5 {
  font-family: 'Fjalla One', sans-serif;
  margin-bottom: -10px;
  font-size: 24px;
  color: white;
}

.form-horizontal {
  text-align: left;
  margin 50px 50px 50px 50px;
}

/* Navbar */

nav {
  position: absolute;
  color: black;
  z-index: 4;
  top: 0;
  width: 100%;
  height: 30px;
}
li {
  line-height: 30px;
}

#burger {
/*  position: fixed;
  bottom: 70px;*/
  color: black;
/*  left: 70px;*/
  z-index: 10;

}


{ position: fixed; bottom: 0px; right: 0px; }

.navbar button {
  color: black;
}

.right-item {
  float: right;
  margin-right: 15px;
}

#map-canvas {
  z-index: 0;
}

#new-gig .form-group {

 margin: 0px;
 padding: 20px;
}

/* Search bar */


#custom-search-input {
        margin:0;
        margin: 20px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin: 0px 12px 0px 12px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }


#map-canvas {
width: 100%;
height: 100vh;
background-color: #CACACA;

}


#toggle_menu {
  height: 100%;
  width: 20px;
  display: inline-block;
  float: left;
  background: lime;
  }
#main_container {height: 100%; width: 65%; display: inline-block; float: left;}
#toggle {height: 100%; width: 20px; display: inline-block; float:left; background: green;}

div > ul {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
div:hover > ul {
  visibility: visible;
  opacity: 1;
}

/* Buttons */

button {
  padding: 4px 15px;
  font-size: 20px;
  font-weight: 500;
  background: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none;

  transition: background 0.5s; 
}

.facebook { background: #5772AC; }
.facebook:hover { background: #3b5998; }



.down {
  font-size: 30px;

  }

  .padded {
    

      padding-left: 300px;
    }

#create,
#register,
#session
    {
      padding: 0px;
      display: none;
    }

#datetime {
  position: relative;
}

.shrunk {

}

/*navbar*/

.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 70px;
}

#navbar {

  border: none;

}

#navbar ul {
margin: 0;
padding: 10px;
}

#navbar:hover{

}

#nav-toggle {
  margin-left: 100px;
  text-align: right;
  color:black;
}

/*modals and forms*/



.form-control {
 
}
.modal-dialog {

  width: 65%;
}

.modal-body {
  padding: 60px;
}


